Description: A holo inspired FHD skin from the Members of IhaD
Depends: enigma2-plugin-skincomponents-eventlist, enigma2-plugin-skincomponents-eventposition, enigma2-plugin-skincomponents-reftopiconname
Maintainer: Members of IhaD
Homepage: http://www.i-have-a-dreambox.com
